<h3>Ticket Purchase Confirm</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lights, Camera, Action!</h3>
  </div>
  <div class="panel-body">
    We have received your ticket purchase order and are processing it currently.
    <br>
    <br>
    Please be on the lookout for a confirmation email arriving shortly to the address you provided.
    <br>
    <br>
    We hope you enjoy your show!
    <br>
    <br>
        - From all of us at the Historic Robin Williams Theatre
      <br>
  </div>
</div>
