Movies (Index Page)

<section>
  <article>
    <h2>Now Playing</th>
    <% @now_showing.each do |movie| %>
      <div class="movie-posters"><%= link_to (image_tag "#{movie.ombd_poster}"), movie_path(movie) %></div>
    <% end %>
  </article>


    <article>
      <h2>Coming Soon</th>
      <% @coming_soon.each do |movie| %>
      <%= link_to (image_tag "#{movie.ombd_poster}"), movie_path(movie) %>
    <% end %>
  </article>
  </section>
