// Place all the styles related to the viewing_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#auditorium-list {
  padding-left: 15em;
}

#ticket-type-list {
  padding-left: 15em;
}

#new-auditorium-form {
  padding-bottom: 3em;
}

.auditorium-header {
  text-align: center;
  padding-left: 5em;
  padding-bottom: 2em;
}
