// Place all the styles related to the viewings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.viewing-header {
  text-align: center;
  padding-left: 5em;
  padding-bottom: 2em;
}

#new-viewing-form {
  padding-bottom: 2em;
}
