<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- <%= link_to "RW Theatre", '#' %> -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Movies", '/movies' %></li>
        <li><%= link_to "Buy Tickets", '/ticket_purchases/new' %></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
